{% include 'header.html' %}
{% if logged_in %}
    <h1>welcome back {{ first }}!</h1>
{% else %}
    <h1>welcome to n-factor-auth, please login or signup!</h1>
    <form style="padding-top: 2em;" class="form-horizontal" action="login" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">email</label>
                <div class="col-md-4">
                    <input id="email" name="email" placeholder="plz@halp.com" class="form-control input-md"
                           required=""
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="pass">password</label>
                <div class="col-md-4">
                    <input id="pass" name="pass" placeholder="password" class="form-control input-md"
                           required=""
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="submit" name="submit" type="submit" class="btn btn-primary" value="login">login</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="submit" name="submit" type="submit" class="btn btn-danger" value="signup">signup
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
{% endif %}
{% include 'footer.html' %}
