{% include 'header.html' %}
{% if logged_in %}
    <h1>welcome back {{ first }}!</h1>
{% else %}
    <h1>welcome to n-factor-auth, please login or signup!</h1>
	<div class="container" style="text-align: center;">
		<div class="row">
			<div class="form-container" style="float: none; margin: 0 auto;">
				<form style="padding-top: 2em;" class="form-horizontal" action="login" method="post">
					<fieldset>
						<div class="form-group">
							<label class="control-label" for="email">email</label>
							<div class="controls">
								<input id="email" name="email" placeholder="plz@halp.com" class="form-control input-md"
									   required=""
									   type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="pass">password</label>
							<div class="controls">
								<input id="pass" name="pass" placeholder="password" class="form-control input-md"
									   required=""
									   type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<button id="submit" name="submit" type="submit" class="btn btn-primary" value="login">login</button>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<button id="submit" name="submit" type="submit" class="btn btn-danger" value="signup">signup
								</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{% endif %}
{% include 'footer.html' %}
