{% include 'header.html' %}
<h1>welcome, it looks like it is your first time here!</h1>
<h2 style="padding-bottom: 2em;">we have just a few more questions:</h2>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="form-container" style="float: none; margin: 0 auto;">
            <form style="padding-top: 2em;" class="form-horizontal" action="onboard" method="post">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label">how absurd <!--fucked--> exactly?</label>
                        <div class="dropdown controls">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                pick one!
                            </button>
                            <div class="dropdown-menu" id="dropdownMenu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" value="n" href="#">Send me <i>N</i> verification codes</a>
                                <a class="dropdown-item" value="team" href="#">Team-based authentication</a>
                                <a class="dropdown-item" value="api" href="#">API-based authentication</a>
                            </div>
                        </div>
                    </div>
                    <!-- Ask for n or phone numbers... -->
                    <div class="form-group" id="n">
                        <label class="control-label" for="n">n, your number</label>
                        <div class="controls"><input id="n" name="n" placeholder="20,6094358762"
                                                     class="form-control input-md" required="" type="text"></div>
                    </div>
                    <div class="form-group" id="numbers">
                        <label class="control-label" for="numbers">numbers (enter seperated by comma)</label>
                        <div class="controls"><input id="numbers" name="numbers"
                                                     placeholder="ex: '1234567890,6094753287'"
                                                     class="form-control input-md" required="" type="textarea"></div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button id="submit" name="submit" type="submit" class="btn btn-primary" value="submit">
                                save
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/onboard.js"></script>
{% include 'footer.html' %}
